img{
    margin-left: 40%;
    border: 1px solid green;
    border-radius: 160px;
    width: 20%;
    padding: 0.2%;
}
h1{
    font-family: Georgia, Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: green;
    text-align: center;
}
body{
    font-family: Georgia, Times, serif;
    background-color: lightgreen;
}
ul{

    list-style-type: square;
    margin-left: 5%;
    border: 1pt dotted green;
    width: 20%;
}
#issue1 {
    margin-left: 25%;
    border: 1pt dotted green;
    font-family: Georgia, Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: green;
    text-align: center;
    width: 50%;
}
#issue2 {
    margin-left: 25%;
    font-family: Georgia, Times, serif;
    letter-spacing: 2px;
    font-variant: all-small-caps;
    color: green;
    text-align: left;
    width: 75%;
}
pre {
    font-size: 18px; /* Увеличь шрифт, подстрой размер по своему вкусу */
    font-family: Georgia, Times, serif; /* Выбери моноширинный шрифт */
    line-height: 1.5; /* Улучши читаемость, увеличив межстрочный интервал */
    background-color: black; /* Добавь фон для эстетики */
    border: 1px solid green; /* Тонкая рамка */
    padding: 10px; /* Внутренние отступы */
    border-radius: 5px; /* Скругленные углы */
    overflow-x: auto; /* Добавь горизонтальную прокрутку для длинного текста */
    width: 50%;
}